@model woolly_friends.Models.Tables.User

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Profile</title>
    <meta charset="utf-8" />
    <meta name="description" content="Profile page with user credentials." />
    <meta name="keywords" content="Profile, User" />
    <meta name="author" content="Kenzo, Lawrenz, John Cee, Jericho, George" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-white font-sans">


    <!-- Profile Section -->

    @Html.Partial("_AdminProfile")

    <hr class="mt-6 border border-[#412c25]" />

    <!-- Buttons -->
    <div class="flex gap-2 mt-6 px-4">
        <button class="bg-[#c39383] text-[#241612] border border-[#684034] rounded-lg font-black text-lg min-w-[180px] h-[50px] hover:bg-[#b58778] active:bg-[#a77c6e]" onclick="window.location.href='/Profile/Index'">Products</button>
        <button class="bg-[#c39383] text-[#241612] border border-[#684034] rounded-lg font-black text-lg min-w-[180px] h-[50px] hover:bg-[#b58778] active:bg-[#a77c6e]" onclick="window.location.href='/Profile/Orders'">Orders</button>
        <button class="bg-[#c39383] text-[#241612] border border-[#684034] rounded-lg font-black text-lg min-w-[180px] h-[50px] hover:bg-[#b58778] active:bg-[#a77c6e]" onclick="window.location.href='/Profile/Reviews'">Reviews</button>
        <button class="bg-[#c39383] text-[#241612] border border-[#684034] rounded-lg font-black text-lg min-w-[180px] h-[50px] hover:bg-[#b58778] active:bg-[#a77c6e]" onclick="window.location.href='/Profile/UserManagement'">User Management</button>
    </div>


    <!-- Header -->
    @Html.Partial("_SearchBarHeader")

    <!-- Container split into sidebar and main -->
    <div class="container mx-auto mt-8 px-4 flex gap-4">

        <!-- Filter Sidebar -->
        <div class="w-[240px] shrink-0">
            @Html.Partial("_FilterSidebar")
        </div>

        <div class="flex-1">

            <!-- Upload Button -->
            <div class="flex justify-end mb-4">
                <button onclick="showPetUploadModal()"class="bg-green-200 hover:bg-green-300 active:bg-green-400 border-2 border-green-800 px-4 py-2 rounded">
                    Upload Pets
                </button>
            </div>

            <!-- Pet Cards -->
            @Html.Partial("_WishlistContent")

        </div>
    </div>

    @Html.Partial("_Pagination")

    <!-- ========================= Pet Upload Modal ========================= -->
    

    <div id="petUploadModal" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50 hidden">
        <div class="bg-white rounded-lg w-full max-w-xl p-6 shadow-lg max-h-[90vh] overflow-y-auto">
            <div class="flex justify-between items-center mb-4">
                <h2 class="text-2xl font-semibold text-[#684034]">Pet Listing Form</h2>
                <button onclick="closeProfileModal()" class="text-gray-600 hover:text-red-500 text-2xl font-bold">&times;</button>
            </div>

            <!-- ======== Pet Listing Form ======== -->
            <form id="petListingForm">


                <!-- ===== Transaction Type ===== -->
                <div class="mb-4">

                    <label class="block text-sm font-medium text-black mb-2">
                        Transaction Type <span class="text-red-500">*</span>
                    </label> 

                    <div class="flex justify-center gap-6">

                        <label class="flex items-center gap-2">
                            <input type="radio" name="transactionType" value="adoption" required class="accent-[#684034]" /> <!-- AAAAAAA -->
                            <span>For Adoption</span>
                        </label>

                        <label class="flex items-center gap-2">
                            <input type="radio" name="transactionType" value="sale" required class="accent-[#684034]" /> <!-- AAAAAAA -->
                            <span>For Sale</span>
                        </label>
                    </div>
                </div>

                <!-- ===== Price ===== -->
                <div class="mb-4">
                    <!-- AAAAAAA -->
                    <label for="price" class="block text-sm font-medium text-black mb-2">
                        Price <span class="text-red-500">*</span>
                    </label>

                    <div class="flex items-center gap-3">
                        <!-- AAAAAAA -->
                        <input type="number" id="price" name="price" min="1" step="1"
                               placeholder="100"
                               class="placeholder:text-slate-500 bg-transparent border border-[#684034] rounded-lg w-full px-4 py-2
                      focus:outline-none focus:ring-2 focus:ring-[#715a44] text-black"
                               required /> <!-- AAAAAAA -->
                        <!-- Trash SVG -->
                        <button type="button">
                            <svg class="hover:fill-red-500" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
                                <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z" />
                            </svg>
                        </button>
                    </div>
                </div>


                <!-- ===== Name ===== -->
                <div class="mb-4">
                    <label class="block text-sm font-medium mb-2">Name <span class="text-red-500">*</span></label>

                    <div class="flex items-center gap-3">
                        <input type="text" name="FirstName" placeholder="Cookie"
                               class="placeholder:text-slate-500 bg-transparent border border-[#684034] rounded-lg w-full px-4 py-2
                                focus:outline-none focus:ring-2 focus:ring-[#715a44]" required />

                        <!-- Trash SVG -->
                        <button type="button">

                            <svg class="hover:fill-red-500" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
                                <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z" />
                            </svg>

                        </button>

                    </div>
                </div>



                <!-- ===== Type of Pet ===== -->
                <div class="mb-4">
                    <label class="block text-sm font-medium mb-2">Pet Type <span class="text-red-500">*</span></label>

                    <div class="flex items-center gap-3">
                        <input type="text" name="PetType" placeholder="Cat"
                               class="placeholder:text-slate-500 bg-transparent border border-[#684034] rounded-lg w-full px-4 py-2
                                focus:outline-none focus:ring-2 focus:ring-[#715a44]" required />

                        <!-- Trash SVG -->
                        <button type="button">

                            <svg class="hover:fill-red-500" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
                                <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z" />
                            </svg>

                        </button>

                    </div>
                </div>




                <!-- ===== Breed ===== -->
                <div class="mb-4">
                    <label class="block text-sm font-medium mb-2">Breed <span class="text-red-500">*</span></label>

                    <div class="flex items-center gap-3">
                        <input type="text" name="Breed" placeholder="German Shepherd"
                               class="placeholder:text-slate-500 bg-transparent border border-[#684034] rounded-lg w-full px-4 py-2
                                focus:outline-none focus:ring-2 focus:ring-[#715a44]" required />

                        <!-- Trash SVG -->
                        <button type="button">

                            <svg class="hover:fill-red-500" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
                                <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z" />
                            </svg>

                        </button>

                    </div>
                </div>

                <!-- ===== Gender ===== -->
                <div class="mb-4">

                    <label class="block text-sm font-medium text-black mb-2">Gender <span class="text-red-500">*</span></label> <!-- AAAAAAA -->

                    <div class="flex justify-center gap-6">

                        <label class="flex items-center gap-2">
                            <input type="radio" name="gender" value="male" required class="accent-[#684034]" /> <!-- AAAAAAA -->
                            <span>Male</span>
                        </label>

                        <label class="flex items-center gap-2">
                            <input type="radio" name="gender" value="female" required class="accent-[#684034]" /> <!-- AAAAAAA -->
                            <span>Female</span>
                        </label>
                    </div>
                </div>



                <!-- ===== Date of Birth ===== -->
                <div class="mb-4">
                    <label for="birthday" class="block text-sm font-medium text-black mb-2">Date of Birth <span class="text-red-500">*</span></label>

                    <div class="flex items-center gap-3">


                        <input type="date" id="birthday" name="birthday" placeholder="olaf@gmail.com"
                               class="placeholder:text-slate-500 bg-transparent border border-[#684034] rounded-lg w-full px-4 py-2
                                focus:outline-none focus:ring-2 focus:ring-[#715a44]" required />


                        <!-- Trash SVG -->
                        <button type="button">

                            <svg class="hover:fill-red-500" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
                                <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z" />
                            </svg>

                        </button>

                    </div>
                </div>


                <!-- ===== Location ===== -->
                <div class="mb-4">

                    <label for="address" class="block text-sm font-medium text-black mb-2">

                        Location <span class="text-red-500">*</span>
                    </label>

                    <div class="flex items-center gap-3">

                        <input type="text" id="address" name="Location" placeholder="28-A Ravioli Street"
                               class="placeholder:text-slate-500 bg-transparent border border-[#684034] rounded-lg w-full px-4 py-2
                      focus:outline-none focus:ring-2 focus:ring-[#715a44]" required />
                        
                        <!-- Trash SVG -->
                        <button type="button">
                            <svg class="hover:fill-red-500" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
                                <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z" />
                            </svg>
                        </button>
                    </div>
                </div>




                <!-- Pet Picture -->
                <div class="text-black mb-2 ">
                    <br />
                    <label class="text-black" for="pet-picture">Pet Picture <span class="text-red-500">*</span></label>
                </div>
                <!--Accept attribute: accepts a specific file type.-->
                <input class="" type="file" id="file" accept="image/png, image/jpeg"><br><br>


                <!-- ===== Description ===== -->
                <div class="mb-4">

                    <label for="description" class="block text-sm font-medium text-black mb-2">

                        Description <span class="text-red-500">*</span>
                    </label>

                    <div class="flex items-center gap-3">
                        
                        <textarea id="message" name="message" rows="3" placeholder="Cutie-Pie is such a sweet cat! Adopt her now!"
                                  class="placeholder:text-slate-500 bg-transparent border border-[#684034] rounded-lg w-full px-4 py-2
                   focus:outline-none focus:ring-2 focus:ring-[#715a44] text-black resize-none"></textarea>
                    </div>
                </div>

                <!-- Submit -->
                <div class="flex justify-end gap-3 mt-6">
                    <button type="button" onclick="closeProfileModal()" class="bg-gray-300 text-gray-700 px-4 py-2 rounded-md hover:bg-gray-400">Cancel</button>
                    <button type="submit" class="bg-[#684034] text-white px-4 py-2 rounded-md hover:bg-[#533125]">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll('.bi-suit-heart, .bi-suit-heart-fill').forEach(function (icon) {
                icon.addEventListener('click', function () {
                    this.classList.toggle('bi-suit-heart');
                    this.classList.toggle('bi-suit-heart-fill');
                });
            });
        });
    </script>

    <script src="~/js/main.js"></script>
</body>

</html>
